<header id="header">
  <section class="toolbar">
    <a [routerLink]="[ '/' ]" class="logo" matTooltip="Back to the homepage">
      <img class="icon" src="assets/logo.svg" alt="Logo" />
      <span class="text">TinyURL</span>
    </a>
    <a class="title" href="https://blog.don.red" matTooltip="前往夜寒苏的天台">
      <img class="icon" src="assets/iinfinity.png" alt="夜寒苏的天台" />
    </a>
  </section>
</header>

<section id="body">
  <router-outlet></router-outlet>
</section>

<footer id="footer">
  <span class="copyright">
    Copyright
    <a class="animation" href="https://blog.don.red" target="_blank">夜寒苏</a>©
    2020+
  </span>
  <span class="policy">点击生成短网址，即代表您同意<a class="animation" [routerLink]="[ '/policy' ]">《用户与隐私协议》</a></span>
</footer>

<demo-loading *ngIf="false"></demo-loading>
