<mat-progress-bar class="progress" color="primary" mode="indeterminate" *ngIf="app.status.loading.value > 0">
</mat-progress-bar>

<mat-sidenav-container>

  <mat-sidenav #sidenav [autoFocus]="false" [mode]="app.info.isDesktop ? 'side' : 'over'" [opened]="app.info.isDesktop"
    [position]="'end'">
    <demo-nav [sidenav]="sidenav">
    </demo-nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <div [@routing]="outlet && outlet.activatedRouteData && outlet.activatedRouteData['animation']">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>

<button mat-mini-fab color="primary" id="content" (click)="sidenav.toggle()">
  <mat-icon>menu</mat-icon>
</button>
